:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fa3232;
  text-decoration: inherit;
}
a:hover {
  color: #fa3232;
}

body {
  margin: 20;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #fa3232;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: rgb(109, 109, 109);
  }
}

.top-bar {
  border: solid thin black;
  display: flex;
  flex: 1;
  width: 100vw;
  height: 170px;
  min-width: auto;
}

.main-header {
  align-self: center;
}

h1 {
  color: red;
}

h1 span {
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  color: white;
  font-size: 5rem;
}

.home-link {
  align-self: flex-end;
  margin: 20px;
}

.articles-link {
  align-self: flex-end;
  margin: 20px;
}
.articles-link:hover {
  text-decoration: underline;
}

.topics-link {
  align-self: flex-end;
  margin: 20px;
}
.topics-link:hover {
  text-decoration: underline;
}

.login-btn {
  align-self: flex-end;
  text-align: right;
  margin: 20px 0px 20px 900px;
}

.side-bar {
  display: grid;
  border: solid thin black;
  height: 25vw;
  width: 100px;
  align-items: center;
  padding: 50px;
}

.article-box {
  width: 50%;
  margin: auto;
  border: 2px solid rgb(93, 93, 93);
  padding: 50px;
}

.loading-msg {
  text-align: center;
  font-size: xx-large;
}

.selected-article {
  width: 50%;
  margin: auto;
}

.comments-section {
  width: 50%;
  margin: auto;
}

.comment {
  padding: 10px;
  border: solid black 1px;
  margin: 20px;
  margin-bottom: 40px;
  word-wrap: break-word;
}

.votes-section {
  width: 50%;
  margin: auto;
}

.vote-btns {
  margin-right: 10px;
}

.err-msg {
  color: red;
}

#signed-in-msg {
  align-self: flex-end;
  text-align: right;
  margin: 20px 0px 20px 700px;
}

#comment-box-label {
  font-size: large;
  margin-bottom: 30px;
}

#comment-box {
  width: 100%;
  font-size: large;
  height: 100px;
}

.article-img {
  border-radius: 2%;
}

.comment-list {
  list-style-type: none;
}

.article-list {
  list-style-type: none;
}

.topics {
  width: 50%;
  margin: auto;
}

.topic-list {
  list-style-type: none;
}

.topic-links {
  font-size: x-large;
}

.topic-item {
  padding: 20px;
  border: solid rgb(93, 93, 93) 2px;
  margin: 20px;
}

.error-handler {
  width: 20%;
  margin: auto;
}
